body {
    /* padding-left: 250px;
    padding-right: 250px; */
    height: 100%;
    position: relative;
}

.navbar-nav .nav-link {
    font-size: 22px;
    /* Đổi kích thước chữ tùy chỉnh tại đây */
}

.caption-top {
    font-size: 1.5em;
    /* Kích thước chữ */
    font-weight: bold;
    /* Độ đậm của chữ */
    color: #333;
    /* Màu chữ */
    text-align: center;
    /* Căn giữa văn bản */
    padding: 10px 0;
    /* Thêm padding trên và dưới */
}

.wrapper {
    min-height: 100%;
    position: relative;
}
.main-content {
    min-height:80vh ;
    background-color:#ECF0F1;

}

.pagination-link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    /* Loại bỏ dấu gạch dưới */
    color: #333;
    /* Đổi màu văn bản */
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination-link.active {
    background-color: #007bff;
    color: #fff;
    /* Đổi màu văn bản */
}
.footer a{
    text-decoration: none;
}
td.text-center a .bi {
    font-size: 1.5rem;
    /* Điều chỉnh kích thước icon tùy thích */
}

/* Màu của icon khi hover */
td.text-center a:hover .bi {
    color: #ff0000;
    /* Màu sắc khi hover, bạn có thể thay đổi mã màu tùy thích */
}

/* Màu sắc của icon khi active */
td.text-center a:active .bi {
    color: #00ff00;
    /* Màu sắc khi active, bạn có thể thay đổi mã màu tùy thích */
}
td.text-center a:nth-child(3) .bi {
    margin-left: 10px;
    /* Điều chỉnh khoảng cách tùy thích */
}
.breadcrumb-item a {
    text-decoration: none;
    /* Loại bỏ gạch chân */
    color: #007bff;
    /* Màu cho liên kết */
}

.breadcrumb-item a:hover {
    color: #0056b3;
    /* Màu khi di chuột qua liên kết */
}


